.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 90px 50px;
    font-size: 18px;
}

.header__menu {
    grid-column: 1;
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 30px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__logo {
    grid-column: 2;
    justify-self: center;
}

.header__logo-image {
    height: 110px;
    width: auto;
}

.address {
    grid-column: 3;
    justify-self: end;
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
    padding-right: 40px;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-white {
    color: white
}

.overlay {
    background-color: rgb(0 0 0/0.6);
    z-index: -1;
}

.cover__title {
    padding: 160px 23px 80px 45px;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 125px;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
}

.no-letter-spacing {
    margin-left: 30px;
}

.aligned-text_center {
    text-align: center;
    margin-right: 60px;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing-n {
   margin-right: 30px;
}

.cover__description {
    display: flex;
    padding: 38px 55px 56px 75px;
    justify-content: space-between;
    align-items: center;
    word-spacing: 18px;  
    margin-bottom: 175px;
}

.bet-button { 
    background-color: transparent;
    border: 1px solid #fff;
    padding: 11px 30px;
    cursor: pointer;
    font-family: Raleway, sans-serif;
}

.text-style { 
    text-transform: uppercase;
    font-size: 22px;
}

.lots {
    margin-bottom: 185px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 60px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
    gap: 25px;
}

.lots__card-list-item {
    width: 335px;
    min-height: 560px;
}

.card_type {
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg); 
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    padding: 50px 40px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card__title {
    text-decoration: underline;
}

.card__text{
    font-size: 20px;
}

.lots__look-more-link {
    margin-left: 60px;
}

.about {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto auto; 
  gap: 30px; 
  margin-left: 70px;
}

.about__logo {
  grid-column: 1 / 2; 
  grid-row: 1 / 2; 
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 150px;
}

.about__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  align-self: center;
}

.text {
  grid-column: 2 / 3;
  grid-row: 2 / 3; 
  font-size: 20px;
  margin-bottom: 135px;
  transform: translateY(-20px);
}

.about__text {
  padding-bottom: 30px;
  margin-right: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 55px 0 50px;
}

.footer__menu {
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list-item {
    list-style: none;
    text-align: center;
}

.footer__social-list {
    display: flex;
    gap: 45px;
}

.footer__social-icon {
    height: 50px;
    width: auto;
}