.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 80px 100px 20px;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    gap: 30px;
    padding-left: 25px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__logo {
    position: absolute;
    left: 46%; 
}

.header__logo-image {
    height: 100px;
    width: auto;
}

.address {
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-white {
    color: white
}

.overlay {
    background-color: rgb(0 0 0/0.5);
    z-index: -1;
}

.cover__title {
    padding: 155px 50px 135px;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 125px;
    letter-spacing: 20px;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    padding: 0 0 40px 75px;
    justify-content: space-between;
    align-items: center;
    word-spacing: 18px;  
    margin-bottom: 170px;
}

.bet-button { 
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px 30px;
    margin-right: 40px;
}

.text-style { 
    text-transform: uppercase;
    font-size: 22px;
}

.lots {
    margin-bottom: 200px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 60px;
}

.lots__card-list {
    display: flex;
    margin: 24px;
    gap: 25px;
}

.lots__card-list-item {
    width: 335px;
    height: 560px;
}

.card_type {
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg); 
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card__title {
    text-decoration: underline;
}

.card__text{
    font-size: 20px;
}

.lots__look-more-link {
    margin-left: 70px;
}

.about {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto auto; 
  gap: 50px; 
  margin-left: 60px;
}

.about__logo {
  grid-column: 1 / 2; 
  grid-row: 1 / 2; 
  background-color: black;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 150px;
}

.about__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  align-self: center;
}

.text {
  grid-column: 2 / 3;
  grid-row: 2 / 3; 
  font-size: 20px;
  margin-top: -50px;
  margin-bottom: 170px;
}

.about__text {
  padding-bottom: 15px;
  margin-right: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.footer__menu {
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list-item {
    list-style: none;
    text-align: center;
}

.footer__social-list {
    display: flex;
    gap: 45px;
}

.footer__social-icon {
    height: 50px;
    width: auto;
}